/*CSS PRESENTE EM TODAS AS PÁGINAS HTML*/

html, body {
    flex-direction: column;
    margin: 0px;
}   

.flex {
    display: flex;
}

.header {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    min-height: 223px;

    background-color: #DEDAC0;

    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-header {
    flex-wrap: wrap;
    justify-content: center;
    background-color: #CEC3B2;
}

.item-nav-header {
    justify-content: center;
    align-items: center;

    min-width: 225px;
    min-height: 42px; 
                   
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.inh1, .inh3 {
    border-inline: 2.5px #21211D solid;  
}

.body {
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    display: flex;
    min-height: 100vh;
    
    background-color: #21211D;
}

.footer {   
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 110px;
    background-color: #DEDAC0;

    p {
        font-size: 18px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;                                      
        margin: 0px;

        position:relative;
        top:15px;
    }
}

/*PÁGINA INICIAL*/

.items {
    display:flex;
    justify-content: center;
    align-items: center;

    background-color: #D9D9D9;

    min-height: 350px;
    min-width: 230px;
    border-radius: 30px;
    margin-inline: 20px;
}

/*PÁGINA DE DETALHES*/  