/*CSS PRESENTE EM TODAS AS PÁGINAS HTML*/

html, body {
    flex-direction: column;
    margin: 0px;
}   

.flex {
    display: flex;
}

.header {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    min-height: 223px;

    background-color: #DEDAC0;

    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-header {
    flex-wrap: wrap;
    justify-content: center;
    background-color: #CEC3B2;

    a {
        text-decoration: none;
        color: black;
    }
}

.item-nav-header {
    justify-content: center;
    align-items: center;

    min-width: 225px;
    min-height: 42px; 
                   
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.inh1, .inh3 {
    border-inline: 2.5px #21211D solid;  
}

.footer {   
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 110px;
    background-color: #DEDAC0;

    p {
        font-size: 18px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;                                      
        margin: 0px;

        position:relative;
        top:15px;
    }
}

/*PÁGINA INICIAL*/

.bodyinicio {
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    min-height: 100vh;
    
    background-color: #21211D;
}

.items {
    display:flex;
    justify-content: center;
    align-items: center;

    background-color: #D9D9D9;

    min-height: 350px;
    min-width: 230px;
    border-radius: 30px;
    margin-inline: 20px;
}

/*PÁGINA DE DETALHES*/ 


/*PÁGINA DE CONTATO*/

.bodycontato {
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;                                  
    color:white;
    background-color: #21211D;
}

.contatotexto {
    flex-wrap: wrap;

    font-size: 20px;
    color:white;

    background-color: #21211D;
}

.linhaform {
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
}

.formulario {

    textarea::placeholder, input::placeholder {
        color: #848484;
    }

    input:focus, select:focus, textarea:focus, button:focus {
        outline: none;
    }
    
    input {
        min-height: 40px;
        min-width: 300px;
        
    }
    
    textarea {
    min-width: 300px;
    min-height: 105px;
    overflow: auto;
    resize: none;
    }

    textarea, input {
        margin-block: 10px;
        font-family: Arial, Helvetica, sans-serif; 
        background-color: #D9D9D9;
        border: 0px;
    }

    #submit {
        font-size: 18px;
        text-align: left;
        min-height: 45px;
        min-width: 170px;
        color: white;
        background-color: #5B48FF;
        font-weight: bold;
        border: 0px;
    }
}